<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Landing page</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/products">Todos los productos</a></li>
      <li><a href="/products/camisetas">Camisetas</a></li>
      <li><a href="/products/pantalones">Pantalones</a></li>
      <li><a href="/products/zapatos">Zapatos</a></li>
      <li><a href="/products/accesorios">Accesorios</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  
    <h1>Lista de Productos</h1>
    <div id="products-list">
      <ul id="lista"></ul>
    </div>
    
    
    <script src="../utils/scriptProducts.js"></script>
</body>
</html>
